@import '~swiper/swiper-bundle.min.css';
@import "./color-picker.css";

html {
  scroll-behavior: smooth;
  background-color: #fafafa;
}

body {
  font-family: "Nunito";
}

[contenteditable] {
  outline: 0;
}
