@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "./color-picker.css";

html {
  scroll-behavior: smooth;
  background-color: #fafafa;

}

body {
  font-family: "Nunito";
}

[contenteditable] {
  outline: 0;
}
